name = "sports-api"
main = "src/index.ts"
compatibility_date = "2024-11-30"

[vars]
JWT_SECRET = "hello-boye"
IMGBB_API_KEY=""
CERT_API=""

[[d1_databases]]
binding = "DB"
database_name = "gptc-sports-db"
database_id = "fcf3bd8a-90f7-4f54-88a3-8e9ecb70f8dd"
migrations_dir = "drizzle"